@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

.the-one-behind-all {
  background: url(https://cdn.fansshare.com/image/moviewallpapers/the-dark-knight-poster-hd-wallpaper-1302612449.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  height: 150vh;
  width: 150vw;
  z-index: -1000;
  top: 0;
  /* filter: brightness(0.3); */
}

.movie-grid {
  display: flex;
  flex-flow: wrap row;
  padding: auto;
  margin: auto;
  align-content: space-around;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.movie-card {
  padding: 5px;
  width: 270px;
  background: hsla(260 10% 12%);
  line-height: 0.9;
  color: hsla(36 15% 81%);
  margin: 5px auto;
  box-shadow: 0 0 30px 10px hsl(0deg 0% 0%);
}

.poster {
  width: 100%;
  height: auto;
  position: relative;
}

.overview {
  text-align: justify;
}

.title {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  line-height: 0.9;
  backdrop-filter: blur(7px);
  position: relative;
  bottom: 6rem;
  height: 6rem;
  display: flex;
  place-content: center;
  place-items: center;
  text-shadow: 0 0 10px black;
}

.info {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -6rem;
}

.release {
  text-align: center;
  font-size: small;
}

.overview {
  font-size: small;
  text-align: left;
  line-height: 1;
}

.score {
  position: relative;
  right: -200px;
  color: rgb(174, 125, 125);
}

.score + p {
  margin-top: -2rem;
}
