* {
  border: 1px solid black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.skills {
  list-style: none;
}

#navbar {
  height: 50px;
  padding: auto;
  position: fixed;
  width: 100vw;
  background-color: #151a1e;
  margin: 0;
}

#space {
  height: 50px;
  width: 100px;
  background-color: transparent;
}

#navbar h1 {
  text-align: center;
  color: white;
  margin: auto;
  height: 50px;
}

header h1 {
  text-align: center;
}